a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f7343e;
}

body {
  background-image: url("/images/live-shot.png");
  background-repeat: no-repeat;
}

.calendar-container {
  border: 2px solid #808080;
}

.calendar-date {
  background-color: #cfcfcf;
}

.clipboard-container {
  border: 2px solid #808080;
}

.clipboard-links {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.contacts {
  background-color: rgb(0, 0, 0, 0.4);
  overflow-y: scroll;
  padding: 0;
}

.dashboard-container {
  height: 50vh;
  margin-top: 15%;
}

.date {
  font-size: 15px;
  font-weight: bold;
}

.dates {
  background-color: rgb(0, 0, 0, 0.4);
  overflow-y: scroll;
}

.dates-list {
  padding: 0;
}

.date-wrapper:hover {
  color: #f7343e;
  cursor: pointer;
}

.fa-house {
  margin-left: 10%;
}

.fa-clipboard-list {
  margin-right: 10%;
}

.fa-plus {
  font-size: 1.5rem;
}

form {
  margin-top: 2rem;
  min-height: 500px;
  width: 80%;
  border: 2px solid #808080;
  background: transparent;
}

.form-wrapper {
  min-height: 700px;
}

h2 {
  color: white;
}

h3 {
  color: white;
  font-size: 25px;
}

hr {
  background-color: #808080;
  padding-left: 0%;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: inline;
  margin-right: 0.5rem;
}

/* html{
  min-height: 100%;
} */

.info {
  border: 2px solid #808080;
  color: whitesmoke;
}

input {
  background-color: white;
  opacity: 0.5;
}

label {
  color: white;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 2rem;
}

nav {
  height: 10%;
  background-color: rgb(0, 0, 0, 0.4);
}

.nav-bottom-icon:hover {
  cursor: pointer;
  color: #f7343e;
}

.notes {
  background-color: rgb(0, 0, 0, 0.4);
  margin-top: 5%;
  overflow-y: scroll;
}

.not-found {
  margin-top: 20%;
}

.navigation {
  color: white;
  font-size: 60px;
}

.new-artist-submit {
  background-color: #f7343e;
  color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

pre {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.schedules {
  background-color: rgb(0, 0, 0, 0.4);
  overflow-y: scroll;
  padding: 0;
}

ul {
  list-style-type: none;
}

.venues {
  background-color: rgb(0, 0, 0, 0.4);
  overflow-y: scroll;
}

@media screen and (min-width: 1000px) {
  form {
    margin-top: 10%;
  }

  .dashboard-container {
    margin-top: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .contacts-wrapper,
  .schedule-wrapper {
    margin-top: 10%;
  }
}

@media screen and (max-width: 575px) {
  .contacts {
    margin-top: 10%;
  }

  .dashboard-container {
    margin-top: 2%;
  }

  .dates {
    margin-top: 5%;
  }

  .fa-house {
    margin-left: 0;
  }

  .footer {
    background-color: black;
  }

  .fa-clipboard-list {
    margin-right: 0;
  }

  .navbar-top {
    height: 70px;
  }

  .venues-notes-wrapper {
    margin-bottom: 10%;
  }
}
