a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f7343e;
}

.add-schedule-event-btn:focus {
  outline: 0;
}

body {
  background-image: url("/images/live-shot.png");
  background-repeat: no-repeat;
}

.calendar-container {
  border: 2px solid #808080;
}

.calendar-date-text {
  font-size: 1rem;
}

.calendar-list-item:hover {
  cursor: pointer;
  background-color: rgb(247, 52, 63, 0.4);
}

.clipboard-container {
  margin: 5rem;
  border: 2px solid #808080;
}

.clipboard-links {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.contacts {
  background-color: rgb(0, 0, 0, 0.4);
  overflow-y: scroll;
  padding: 0;
}

.confirm-button {
  background-color: black;
}

.dashboard-container {
  height: 50vh;
  margin-top: 15%;
}

.date {
  font-size: 15px;
  font-weight: bold;
}

.dates {
  background-color: rgb(0, 0, 0, 0.4);
  overflow-y: scroll;
}

.dates-list {
  padding: 0;
  list-style-type: none;
}

.dates-wrapper {
  max-height: 500px;
}

.dates-wrapper:hover {
  color: #f7343e;
  cursor: pointer;
}

.delete-modal-wrapper {
  background-color: #e03039;
  bottom: 45%;
  left: 30%;
}

.fa-house {
  margin-left: 10%;
}

.fa-clipboard-list {
  margin-right: 10%;
}

.fa-plus {
  font-size: 1.5rem;
}

form {
  width: 80%;
  border: 2px solid #808080;
}

.form-wrapper {
  margin-top: 15%;
}

h2 {
  color: white;
}

h3 {
  color: white;
  font-size: 25px;
}

hr {
  background-color: #808080;
  padding-left: 0%;
}

h6 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-right: 0.5rem;
}

i {
  text-decoration: none;
}

i:hover {
  cursor: pointer;
}

.info {
  border: 2px solid #808080;
  color: whitesmoke;
}

input,
select,
textarea {
  background-color: whitesmoke;
}

label {
  color: white;
  font-weight: bolder;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 2rem;
}

nav {
  height: 10%;
  background-color: rgb(0, 0, 0, 0.4);
}

.nav-bottom-icon:hover {
  cursor: pointer;
  color: #f7343e;
}

.notes {
  background-color: rgb(0, 0, 0, 0.4);
  margin-top: 5%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.not-found {
  margin-top: 20%;
}

.navigation {
  color: white;
  font-size: 60px;
}

.new-tour-date-form {
  max-height: 600px;
  overflow-y: scroll;
}

.new-artist-submit {
  background-color: #f7343e;
  color: white;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}

pre {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.remove-schedule-event-btn:focus {
  outline: 0;
}

.schedules {
  background-color: rgb(0, 0, 0, 0.4);
  overflow-y: scroll;
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

.venues {
  background-color: rgb(0, 0, 0, 0.4);
  overflow-y: scroll;
}

@media screen and (min-width: 1000px) {
  .dashboard-container {
    margin-top: 2%;
  }
}

@media screen and (max-width: 1000px) {
  .contacts-wrapper,
  .schedule-wrapper {
    margin-top: 10%;
  }
}

@media screen and (max-width: 575px) {
  .calendar-container {
    border: none;
  }

  .clipboard-container {
    border: none;
  }

  .contacts {
    margin-top: 10%;
  }

  .dashboard-container {
    margin-top: 2%;
  }

  .dates {
    margin-top: 5%;
  }

  .delete-modal-wrapper {
    left: 8%;
  }

  .fa-house {
    margin-left: 0;
  }

  .footer {
    background-color: black;
  }

  form {
    border: none;
  }

  .form-wrapper {
    margin-top: 60%;
  }

  .fa-clipboard-list {
    margin-right: 0;
  }

  .map-container {
    margin-top: 2rem;
  }

  .navbar-top {
    height: 70px;
  }

  .new-tour-date-form {
    border: none;
    max-height: 700px;
  }

  .route-overview-container {
    margin-bottom: 30%;
    margin-left: 0.2rem;
  }

  .venues-notes-wrapper {
    margin-bottom: 10%;
  }
}
