a {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f7343e;
}

.add-schedule-event-btn:focus {
  outline: 0;
}

body {
  background-color: #121212;
}

button:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.calendar-container {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5px;
}

.calendar-date-text {
  font-size: 1rem;
}

.clipboard-container {
  margin: 5rem;
  border: 2px solid #808080;
}

.clipboard-links {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.contacts {
  background-color: #3d3d3c;
  border-radius: 5px;
  overflow-y: scroll;
}

.confirm-button {
  background-color: #cd3c3a;
}

.dashboard-container {
  height: 50vh;
}

.date {
  font-size: 15px;
  font-weight: bold;
}

.dates {
  border-radius: 5px;
  background-color: #3d3d3c;
}

.delete-modal-wrapper {
  background-color: #fff;
  bottom: 45%;
  left: 30%;
}

.dropdown-item:active {
  background-color: #cd3c3a;
}

.fa-house {
  margin-left: 10%;
}

.fa-location-house {
  color: #cd3c3a;
}

.fa-plus {
  font-size: 1.5rem;
}

form {
  width: 80%;
}

.form-wrapper {
  margin-top: 15%;
}

h2 {
  color: white;
  font-family: Poppins, sans-serif;
}

h3 {
  color: white;
  font-size: 25px;
  font-family: Poppins, sans-serif;
}

hr {
  background-color: #808080;
  padding-left: 0%;
}

h6 {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-right: 0.5rem;
}

i {
  text-decoration: none;
}

i:hover {
  cursor: pointer;
}

.info {
  color: #cd3c3a;
}

input,
select,
textarea {
  background-color: whitesmoke;
}

label {
  color: white;
  font-weight: bolder;
}

li {
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: 2rem;
}

nav {
  height: 10%;
  background-color: rgb(0, 0, 0, 0.4);
}

.nav-bottom-icon:hover {
  cursor: pointer;
  color: #f7343e;
}

.notes {
  background-color: #3d3d3c;
  border-radius: 5px;
  margin-top: 5%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.navbar-nav > .active > a {
  color: red;
}

.new-tour-date-form {
  overflow-y: scroll;
}

.new-artist-submit {
  background-color: #cd3c3a;
  color: white;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

p {
  font-family: Lato, sans-serif;
  font-size: 12px;
  color: white;
}

pre {
  color: white;
  font-family: Lato, sans-serif;
}

.remove-schedule-event-btn:focus {
  outline: 0;
}

.route-info {
  background-color: #3c3c3c;
  border-radius: 5px;
}

.schedules {
  border-radius: 5px;
  background-color: #3d3d3c;
  overflow-y: scroll;
  padding: 0;
}

.tourdates {
  cursor: pointer;
  background-color: #3d3d3c;
  border: #121212 solid 2px;
  border-radius: 5px;
}

.tourdates:hover {
  background-color: #cd3c3a;
}

ul {
  padding: 0;
  list-style-type: none;
}

.venues {
  background-color: #3d3d3c;
  border-radius: 5px;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .dashboard-container {
    height: 70vh;
  }

  .form-wrapper {
    margin-top: 50%;
  }

  .venues-notes-wrapper {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .contacts-wrapper {
    margin-top: 5rem;
  }

  .form-wrapper {
    margin-top: 40%;
  }

  .map-container {
    margin-top: 3rem;
  }

  .notes {
    margin-top: 3rem;
  }

  .route-overview-container {
    padding: 3rem;
    margin-bottom: 3rem;
  }

  .schedule-wrapper {
    margin-top: 3rem;
  }

  .venues {
    margin-bottom: 3rem;
  }

  .venues-notes-wrapper {
    margin-bottom: 14%;
  }
}

@media screen and (max-width: 575px) {
  .calendar-container {
    margin: 1rem;
    border: none;
  }

  .clipboard-container {
    border: none;
  }

  .contacts {
    margin-top: 10%;
  }

  .dashboard-container {
    margin-top: 2%;
  }

  .delete-modal-wrapper {
    left: 8%;
  }

  .fa-house {
    margin-left: 0;
  }

  form {
    border: none;
  }

  .form-wrapper {
    margin-top: 60%;
  }

  .map-container {
    margin-top: 2rem;
  }

  .new-tour-date-form {
    border: none;
  }

  .schedule-wrapper {
    margin-top: 2rem;
  }
}
